 /* style.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 100%;
    max-width: 400px; /* 필요에 따라 조정 가능 */
}

.hidden {
    display: none;
} 